* {
    box-sizing: border-box;
}
:root {
    --primary-color: #0f1b4c;
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}
/* Common */
a {
    text-decoration: none;
}

/* ================ Header =============== */

