* {
    box-sizing: border-box;
}
:root {
    --primary-color: #0f1b4c;
}

html {
    scroll-behavior: smooth;
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}
/* Common */
a {
    text-decoration: none;
}
.btn {
    padding: 10px 20px;
    background: #171100;
    border-radius: 24.5px;
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    color: #ffffff;
}
.btn:hover {
    opacity: 0.9;
}
/* ================ Header =============== */
.header {
    background: #fffcf4;
}
.content {
    width: 1170px;
    max-width: calc(100% - 270px);
    margin-left: auto;
    margin-right: auto;
}
.container {
    position: sticky;
    top: -26px;
    background-color: #fffcf4;
    z-index: 1;
}
.navbar {
    padding: 36px 135px 10px;
    display: flex;
    align-items: center;
}
.btn-sign-up {
    margin-left: 70px;
}
.navbar .list {
    display: flex;
    margin-left: auto;
}
.navbar .item {
    margin-left: 42px;
}
.navbar .item:first-child {
    margin-left: 0;
}
.navbar .item .link {
    position: relative;
    /* padding: 5px 10px; */
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    color: #5f5b53;
}
.navbar .item .active {
    color: #171100;
    text-shadow: 1px 0 0 currentColor;
}
.navbar .item .active::before {
    content: "";
    position: relative;
    display: inline-block;
    width: 12px;
    height: 2px;
    background: #171100;
    border-radius: 1px;
    bottom: -6px;
    left: 13px;
}
.navbar .item .link:hover {
    color: #171100;
    text-shadow: 1px 0 0 currentColor;
}

.header .intro {
    display: flex;
    padding-top: 64px;
    padding-bottom: 65px;
}
.header .intro-block {
    position: relative;
    width: 49%;
}
.header .body {
    width: 51%;
    padding-left: 125px;
}

.header .img-intro {
    width: 470px;
    height: 685px;
    object-fit: cover;
    border-radius: 20px;
}

.header .block-more {
    position: absolute;
    /* background-color: aqua; */
    background: #ffffff;
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
    border-radius: 12px;
    padding: 24px;
    bottom: 48px;
    left: 300px;
}
.block-more .item-more {
    min-width: 270px;
    margin-top: 22px;
    display: flex;
    align-items: center;
}
.block-more .item-more:first-child {
    margin-top: 0;
}
.block-more .sub-title {
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    color: #171100;
}
.block-more .desc-info {
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    color: #5f5b53;
}

.block-more .item-more .icon-more {
    margin-right: 16px;
}
.header .body .title {
    margin-top: 64px;
    font-family: "Sen";
    font-weight: 700;
    font-size: 58px;
    line-height: 68px;
    letter-spacing: -0.02em;
    color: #171100;
}

.header .body .desc {
    margin-top: 22px;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #5f5b53;
}
.body .more {
    display: flex;
    margin-top: 38px;
    align-items: center;
}
.body .more .btn-see {
    background: #ffb900;
    border-radius: 32px;
}
.body .watch {
    display: flex;
    margin-left: 28px;
    align-items: center;
    cursor: pointer;
}
.body .watch .bgc-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: #ffffff;
    border-radius: 999px;
    box-shadow: 0px 8px 16px rgb(0 0 0 / 7%);
    margin-right: 18px;
}
.body .see-video {
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    color: #171100;
}
.body .desc-number {
    margin-top: 48px;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #5f5b53;
}
.body .number {
    margin-top: 8px;
    display: flex;
}
.body .number-item {
    margin-left: 8px;
}
.body .number-item:first-child {
    margin-left: 0;
}
.body .number-item > strong {
    font-weight: 700;
    font-size: 4.4rem;
    margin-right: 5px;
}

/* ============= Courses ============= */

.courses {
    padding-top: 200px;
}
.courses .title {
    font-family: "Sen";
    font-weight: 700;
    font-size: 38px;
    line-height: 48px;
    /* identical to box height, or 126% */

    letter-spacing: -0.02em;

    color: #171100;
}

.popular-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.popular-top .desc {
    margin-top: 16px;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #5f5b53;
}
.forward .icon-forward {
    background-color: #fffcf4;
}

.list-courses {
    margin-top: 55px;
    display: flex;
    gap: 30px;
}
.list-courses .item-course {
    background: #ffffff;
    border-radius: 12px 12px 0 0;
    border: 1px solid #e2dfda;
}
.list-courses .item-course:hover {
    border-color: transparent;
    box-shadow: 0px 18px 36px rgb(0 0 0 / 5%);
}
.item-course .img-course {
    width: 370px;
    height: 278px;
    object-fit: cover;
    border-radius: 12px 12px 0px 0px;
    margin: -1px;
}
.item-course .block-info {
    padding: 16px 22px 22px;
}
.item-course .sub-title {
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    color: #171100;
}
.item-course .grade {
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #fea31b;
}
.item-course .block-item {
    display: flex;
}
.item-course .block-item .icon-course {
    margin-left: auto;
}

.item-course .desc {
    margin-top: 6px;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    color: #5f5b53;
}
.item-course .book {
    margin-top: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.book .price {
    font-weight: 600;
    font-size: 18px;
    line-height: 30px;
    color: #171100;
}
.book .btn-book:hover {
    background: #ffb900;
}

/* Feedback */

.feedback {
    margin-top: 200px;
    background: #2e2100;
}

.feedback .block-feedback {
    padding-top: 96px;
    display: flex;
}
/* .block-feedback .people-feedback {
    width: 160px;
} */
.block-feedback .avatar {
    width: 72px;
    height: 72px;
    border-radius: 999px;
    object-fit: cover;
}
.block-feedback .name-info {
    margin-top: 18px;
    min-width: 135px;
    font-weight: 700;
    font-size: 24px;
    line-height: 34px;
    color: #f7f7f7;
}
.block-feedback .carrer {
    margin-top: 8px;
    min-width: 160px;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    color: #bfbcb3;
}
.block-feedback .block-doc {
    padding-bottom: 96px;
    margin-top: 28px;
}
.block-doc .doc {
    display: inline-block;
    width: 6px;
    height: 6px;
    background-color: #634700;
    border-radius: 999px;
}
.block-doc .active {
    background-color: #ffb900;
}
.block-feedback .info-feedback {
    position: relative;
    margin-left: 270px;
}
.block-feedback .info-feedback .info-content {
    margin-top: 28px;
    font-style: italic;
    font-weight: 400;
    font-size: 26px;
    line-height: 40px;
    color: #ffffff;
}
.info-feedback .quotes {
    position: absolute;
    top: 0;
    left: -28px;
}

/*  ================== Feature ==================*/

.features .body {
    margin-top: 200px;
    display: flex;
    justify-content: space-between;
}
.features .images {
    display: flex;
}
.features .body .img-feature {
    width: 270px;
    height: 405px;
    object-fit: cover;
    border-radius: 16px;
}
.features .body .feature-2 {
    margin-left: 30px;
}
.features .body .feature-1 {
    margin-top: 34px;
}
.features .info-body {
    margin-top: 58px;
    width: 41%;
}
.features .info-body .title {
    font-family: "Sen";
    font-weight: 700;
    font-size: 38px;
    line-height: 48px;
    letter-spacing: -0.02em;
    color: #171100;
}
.features .info-body .desc {
    margin-top: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #5f5b53;
}
.features .info-body .more {
    margin-top: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #5f5b53;
}
.btn-feature {
    display: inline-block;
    margin-top: 32px;
    background: #ffb900;
    border-radius: 26px;
}

/* ========== Blog ============= */

.blog {
    margin-top: 200px;
    background: #fffcf4;
}

.blog .title {
    text-align: center;
    padding-top: 96px;
    font-family: "Sen";
    font-weight: 700;
    font-size: 3.8rem;
    line-height: 48px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #130606;
}
.blog .desc {
    margin-top: 16px;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    text-align: center;
    color: #696262;
}

.blog .block-blog {
    margin-top: 55px;
    display: flex;
    gap: 30px;
}

.blog .img-blog {
    width: 370px;
    height: 250px;
    object-fit: cover;
    border-radius: 16px 16px 0px 0px;
}
.blog .item {
    border-radius: 16px;
    background-color: #ffffff;
}
.blog .item:hover {
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
}
.block-blog .block-info {
    padding: 20px 20px 28px;
}
.block-blog .block-info .date {
    margin-left: 8px;
    position: relative;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    color: #5f5b53;
}
.block-blog .block-info .date::before {
    position: absolute;
    display: inline-block;
    content: "";
    width: 6px;
    height: 6px;
    background-color: #ffb900;
    border-radius: 999px;
    top: 9px;
    left: -8px;
}
.block-blog .line {
    margin-top: 12px;
    width: 160px;
    height: 1px;
    background-color: #e2dfda;
    border-radius: 0.5px;
}
.block-blog .sub-title {
    margin-top: 12px;
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    color: #171100;
}
.btn-read {
    display: inline-block;
    margin-top: 12px;
}
.btn-read:hover {
    background-color: #ffb900;
}
.blog .docs {
    text-align: center;
}
.blog .doc {
    display: inline-block;
    width: 6px;
    height: 6px;
    background-color: #5f5b53;
    border-radius: 999px;
}
.blog .active {
    background-color: #ffb900;
}

/* ========= Footer ============== */

.footer {
    margin-top: 96px;
    background: #2e2100;
    color: #ffffff;
}

.block-footer {
    padding-top: 96px;
    display: flex;
}
.block-footer .desc {
    max-width: 267px;
    margin-top: 18px;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    color: #bfbcb2;
}
.block-footer .social {
    margin-top: 18px;
}
.block-footer .intro {
    width: 35%;
}
.block-footer .icon-social {
    margin-left: 18px;
}
.block-footer .icon-social:first-child {
    margin-left: 0;
}

.footer .item {
    width: 21.66%;
}
.footer .item .title {
    position: relative;
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    color: #ffffff;
}
.footer .item .title::after {
    display: inline-block;
    position: absolute;
    content: "";
    height: 1px;
    width: 130px;
    background: #59554b;
    bottom: -14px;
    left: 0;
}

.footer .item .info {
    margin-top: 12px;
    /* white-space: nowrap; */
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    color: #bfbcb2;
}
.footer .item .info:first-of-type {
    margin-top: 43px;
}

.footer .line {
    margin-top: 38px;
    width: 1170px;
    max-width: 100%;
    height: 1px;
    background: #59554b;
}
.footer .copy {
    padding: 28px 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    text-align: center;
    color: #807d74;
}
